@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Spartan&display=swap');
*{
    font-family: 'Montserrat', serif;
    box-sizing: border-box;
    /* outline: 1px solid red; */
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    /* background: #F8F8F8; */
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow-x: hidden ;
  }


/* colors */
.prime{
    background-color: #ffe7d1 !important;
}

.sec{
    background-color: #f6c89f !important;
}

.middle{
    background-color: #4b8e8d !important;
}


.last{
    background-color: #396362 !important;
}

/* ..colors */

/* navigation */
.search-btn{
    color: white !important;
}
.search-btn:hover{
    background-color: white !important;
    border:2px solid #f6c89f !important;
    color: black !important;
}

.search-input:focus {
    /* color: #f6c89f !important; */
    outline: none !important;
    border:2px solid #f6c89f;
    box-shadow: 0 0 5px #ffe7d1;
}

.main-nav{
    /* position: fixed; */
    width: 100%;
    z-index: 1 !important;
    background-color: white !important;
}

.scrolly {
    color: black !important;
    box-shadow: 0 -2px 1rem #CFD2CD !important;
}

/* .navbar-nav>.nav-item>a:hover {
    border-bottom: 2px solid #ffe7d1 !important ;
    animation:200ms ease-in-out;
} */
.navbar-nav>.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffe7d1;
    transition: width .6s;
}

.navbar-nav>.nav-item:hover::after {
    width: 100%;
    /* //transition: width .3s; */
}

.active-menu {
  border: 2px solid #f6c89f !important;
}

/* ..navigation */

/* categories */
.cats>form>button>li:hover{
    border-left: 3px solid #ffe7d1 !important ;
    border-right: 3px solid #ffe7d1 !important ;
    padding: .2rem !important;
    text-transform: uppercase;
    /*  color: #ffe7d1; */
}

.cats>li {
    padding:1rem !important;
}

.cats>li>a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.849);
}
/* ..categories */

/* body container */

.all-content {
    margin-top: 5.5rem !important;
}

.navbar-brand > img{
    /* position: relative; */
    /* background: url("{{ asset('images/icons/logo.jpg')}}"); */
    width: 70px !important;
    height: 70px !important;
    /* left: 15px;
    background-size: contain; */
}



/* category cards */

/* @media (max-width: 575px) {
    .cat-card>.card-deck>.card {
        max-width:450px !important;
        max-height: 450px !important;
    }
    .cat-card>.card-deck>.card>img {
        height: 400px;
    }
 } */

 /* img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
  } */
 @media (max-width: 576px) {
    .card-columns {
        column-count: 1 !important;
    }
    .card-columns>.card {
        width: 100% !important;
        height: 100% !important;
    }
    .card-columns>.card>img {
        height: 100% !important;
        width: 100% !important
    }
    img {
        height: 100%;
        width: 100%;
    }
    /* img {
        width: auto ;
        max-width: 100% ;
        height: auto ;
      } */

    .call-us {
        height: 30px;
        width: 30px;
    }

}

@media (max-width: 768px) and (min-width: 577px) {
    .card-columns {
        column-count: 3 !important;
    }

    .card-columns>.card {
        width: 100% !important;
        height: 20rem !important;
    }
    .card-columns>.card>img {
        height: 15rem !important;
        width: 100% !important
    }


    .call-us {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (max-width: 1024px) {
    .card-columns {
        column-count: 6;
    }

    .card-columns>.card {
        width: 100% !important;
        height: 15rem !important;
    }
    .card-columns>.card>img {
        height: 10rem !important;
        width: 100% !important
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 6 !important;
    }

    .card-columns>.card {
        width: 100% !important;
        height: 10rem !important;
    }
    .card-columns>.card>img {
        height: 7rem !important;
        width: 100% !important
    }

    .home-cat-card {
        background-color: #f8f9fa !important;
        border: none !important;
    }

    .filter-by-cat-home:focus {
      outline: none !important;
    }

    .home-cat-card:hover {
        background-color: #fff !important;
        box-shadow: 0 2px 2px #CFD2CD !important;
    }
}
/* category cards */

/* pagination */
.pagination{display:-ms-flexbox;display:flex;padding-left:0;list-style:none;border-radius:.25rem}
.page-link{position:relative;display:block;padding:.5rem .75rem;margin-left:-1px;line-height:1.25;color:black !important;background-color:#fff;border:1px solid #dee2e6}
.page-link:hover{z-index:2;color:#f1b965 !important;text-decoration:none;background-color:#e9ecef;border-color:#dee2e6}
.page-link:focus{z-index:3;outline:0;box-shadow:0 0 0 .2rem rgba(247, 173, 37, 0.623)!important}
.page-item:first-child .page-link{margin-left:0;border-top-left-radius:.25rem;border-bottom-left-radius:.25rem}
.page-item:last-child .page-link{border-top-right-radius:.25rem;border-bottom-right-radius:.25rem}
.page-item.active .page-link{z-index:3;color:#fff;background-color:#faa45a !important;border-color:#faa45a !important}
.page-item.disabled .page-link{color:#6c757d;pointer-events:none;cursor:auto;background-color:#fff;border-color:#dee2e6}
.pagination-lg .page-link{padding:.75rem 1.5rem;font-size:1.25rem;line-height:1.5}
.pagination-lg .page-item:first-child .page-link{border-top-left-radius:.3rem;border-bottom-left-radius:.3rem}
.pagination-lg .page-item:last-child .page-link{border-top-right-radius:.3rem;border-bottom-right-radius:.3rem}
.pagination-sm .page-link{padding:.25rem .5rem;font-size:.875rem;line-height:1.5}
.pagination-sm .page-item:first-child .page-link{border-top-left-radius:.2rem;border-bottom-left-radius:.2rem}
.pagination-sm .page-item:last-child .page-link{border-top-right-radius:.2rem;border-bottom-right-radius:.2rem}
/* ..pagination */

/* index page */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  cursor: pointer;
  }

  .blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 25px;
  /* height: 250px; */
  }
  /* .grid-container .card:first-child {
  grid-row: span 2;
  } */

  .view-more-products {
      border: 2px solid #f6c89f;
      color: black;
  }

  .view-more-products:hover {
      background-color: #f6c89f;
      color: white;
  }
  .view-more-products:focus {
      outline: none !important;
      border:2px solid #f6c89f;
      box-shadow: 0 0 5px #ffe7d1;
  }

 .comment-btn {
      border: 2px solid #f6c89f;
      color: black;
  }

  .comment-btn:hover {
      background-color: #f6c89f;
      color: white;
  }
  .comment-btn:focus {
      outline: none !important;
      border:2px solid #f6c89f;
      box-shadow: 0 0 5px #ffe7d1;
  }

  .price-tag {
      color: #faa45a !important;
  }

  .product-card:hover {
      box-shadow: 0 0 2px 2px rgba(45, 46, 45, 0.11) !important;
  }

  .product-card {
    height: 100%;
  }

  .blog-card {
      border: none !important;
  }

  .read-more-blog {
      color: #faa45a
  }
  .read-more-blog:hover {
      color: black;
  }

  .blog-date {
      border-bottom: 4px solid #faa45a
  }

  @media (max-width: 768px) and (min-width: 577px) {
      .grid-container {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
          grid-gap: 10px;
          cursor: pointer;
      }
      /* .grid-container .card:first-child {
          grid-row: span 4;
      } */
  }

  @media (max-width: 1024px) {
      .grid-container {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          grid-gap: 20px;
          cursor: pointer;
      }
      /* .grid-container .card:first-child {
          grid-row: span 4;
      } */
  }

  .filter-by-cat-home {
    border: none !important;
    background-color: #f8f9fa !important;
  }

/* ..index page */

/* product page */

/* breadcrumbs */
.breadcrumb-item>a {
  color: #faa45a !important;
}
.breadcrumb>li::before {
  content:none !important;
}
.breadcrumb>li:after {
  content:'\3E';
  margin-left: 0.3em;
}
.breadcrumb>li:last-child:after
{
  content: none;
}
/* ..breadcrumbs */

/* ..product page */

.productz {
    display: none ;
}


/* .toproduct {
    display: flex !important;
} */

/* ..body container */

/* footer */
/* back to top button */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f1ad70;
  background: #f1ac70;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 2px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: #f39645;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
/* ,,back to top button */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
  z-index:0 ;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #f5b57d;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
/* .footer-section>.footer-widget{
    z-index: -2 !important;
} */
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #f5b57d;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #f5b57d;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #f5b57d;
    padding: 13px 20px;
    border: 1px solid #f5b57d;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #f5b57d;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #f5b57d;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/* ..footer */
